<ion-header>
    <ion-toolbar  >
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-toolbar >
        <ion-grid  >    
          <ion-row>
              <ion-col  size="1"   >
        <ion-title class="title">Ajouter Voiture</ion-title>
            </ion-col>
            <ion-col size="11"  class="news" >
              <ion-slides [options]="slideOptions"  #news (ionSlidesDidLoad)="slidesDidLoadNews(news)">
                  <ion-slide class="slidetext">
                      <ion-icon name="star" Color="danger"></ion-icon> 
                      <ion-icon name="heart" Color="danger"></ion-icon> 
                      <ion-icon name="star" Color="danger"></ion-icon> 
                      Location Voiture pas cher avec <ion-icon name="logo-model-s" Color="primary"></ion-icon> FTRC ®. Prix imbattables.
                      <ion-icon name="heart" Color="danger"></ion-icon> 
                      <ion-icon name="star" Color="danger"></ion-icon> 
                      <ion-icon name="heart" Color="danger"></ion-icon> 
                  </ion-slide>
                  <ion-slide  class="slidetext">
                      Réservez Online! Informations, 
                      <ion-icon name="call" Color="success"></ion-icon>
                      (+216) 25 818 129 || (+216) 71 805 275
                      <ion-icon name="mail" Color="success"></ion-icon> FTRC@hotmail.fr
                 </ion-slide>
                 <ion-slide class="slidetext">
                    <ion-icon name="speedometer" Color="primary"></ion-icon>
                    Rechercher des locations de voitures à partir de 5 € à Bardo.<ion-icon name="thumbs-up" Color="primary"></ion-icon>
                     Les Meilleurs Loueurs. 
                    <ion-icon name="happy" Color="success"></ion-icon>
                    
               </ion-slide>
               </ion-slides>
                  </ion-col>
            </ion-row>
            </ion-grid> 
    </ion-toolbar>
    </ion-toolbar>
  </ion-header>

<ion-content class="background-image" no-scroll class="ion-padding" >
    <h2 class="tittle">Ajouter Un Voiture</h2>

    <form   [formGroup]="ajouter"   (ngSubmit)="addVoiture()">
        <ion-grid class="formulair" >    
            <ion-row >
      <ion-col size="6"  size-lg     >
        <h2 class="tittle1">Détails de voiture </h2>
      <ion-item class="col">
      <ion-label>Nom de Voiture</ion-label>
      <ion-input type="text" formControlName="nomVoiture"></ion-input>
    </ion-item>
  </ion-col>
</ion-row>
<ion-row >
    <ion-col size="6"  size-lg     >
    <ion-item class="col">
      <ion-label>Matrecule</ion-label>
      <ion-input type="text" formControlName="matrecule"></ion-input>
    </ion-item>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col size="6" size-lg>
    <ion-item class="col">
      <ion-label>Image</ion-label>
      <ion-input type="file" 
        formControlName="image"></ion-input>
    </ion-item>
  </ion-col>
</ion-row>
<ion-row >
    <ion-col size="6"  size-lg     >
    <ion-item class="col">  
      <ion-label>Mode </ion-label>
      <ion-input type="text" formControlName="mode"></ion-input>
    </ion-item>
    <ion-button type="submit"  class="col" >Ajouter Voiture</ion-button>
  </ion-col>
</ion-row>
</ion-grid>
      </form>
    
</ion-content>
