ion-content {
    --background: url('/assets/images/bck/bck1.jpg') no-repeat fixed 60% 60%;
}

.formulair{
 
  width: 700px;
  height:400px;
  margin-top: 90px;
   
}
.col{
    background-color: blue;
    margin-top: 50px; 
  
    
}

.tittle{
    color: aliceblue;
    text-align: center;
    font-size: 90px;
    font-weight: bold;
}


.tittle1{
    color: aliceblue;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 60px;
}

