ion-content {
    --background: url('/assets/images/bck/bck-voiture3.jpg') no-repeat fixed 60% ;
}

.tittle{
    text-align: center;
    font-size: 70px;
    padding: 50px;
    color: rgb(12, 85, 85);
    font-weight: bold;


}
.desc{
    text-align: center;
    padding: 10px 300px 0px 300px;
    color: rgb(209, 226, 241);
    
}
.icon{
    height: 150px;
    width: 150px;
    margin-left:500px;
    color: aliceblue;
}


ion-toolbar{
    --background: rgb(78, 78, 78);
    --ion-color-base: transparent !important;
}

  /* //////////////////////////
           NEWS 
   ///////////////////////// */    

.news{
    background: black;
    font-size: 15px;
    color: white;

}
ion-buttons{
    color: aliceblue;

}
.title{
    color: aliceblue;
}

@media only screen and (max-width: 600px) {
    .slidetext{
        font-size: 10px;
    }
    .tittle{
        text-align: center;
        font-size: 30px;
        padding: 50px;
        color: rgb(12, 85, 85);
        font-weight: bold;
    }
    .icon{
        height: 100px;
        width: 100px;
        margin-left:130px;
        color: aliceblue;
    }
    .desc{
        text-align: center;
        padding: 10px 30px 0px 30px;
        color: rgb(209, 226, 241);
    }
   

  }